@use "../../Foundation/variable.scss" as variable;
@use "../../Foundation/mixin.scss" as mixin;

.c-hamburger{
    position: relative;
    display: inline-block;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #131418;
    background-color:#131418;
    box-shadow: 0 0 2rem transparent;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    z-index:99;
    display:none;
    @include mixin.mq(md){
        display:block;
    }

    &__line{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 18px;
        height: 1.5px;
        background-color: variable.$text-white;
        -webkit-transition: inherit;
                transition: inherit;
    }

    &__line::before,
    &__line::after{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: inherit;
        content: '';
        -webkit-transition: inherit;
                transition: inherit;
    }

    &__line::before{
        top: -5.5px;
    }

    &__line::after{
        top: 5.5px;
    }

    &[aria-expanded="false"] .c-hamburger__line {
        background-color: transparent;
    }

    &[aria-expanded="false"] .c-hamburger__line::before,
    &[aria-expanded="false"] .c-hamburger__line::after {
        top: 0;
        background-color: variable.$text-white;
    }

    &[aria-expanded="false"] .c-hamburger__line::before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    
    &[aria-expanded="false"] .c-hamburger__line::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    }

    .u-visuallyHidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }


    //drawer
    &__drawer{
        position: fixed;
        background: #131418;
        width: 100% !important;
        height:100dvh!important;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -20%);
        transition: all 0.7s ease-out;
        pointer-events: none;
        z-index:98;
        top:0;
        left:0;
        &.is-active{
            clip-path: circle(1000px at 100% - 10%);
            -webkit-clip-path: circle(1000px at 100% -10%);
            pointer-events: all;
        }
        &__inner{
            position: relative;
            height:100%;
        }
        &__nav{
            position: absolute;
            width:100%;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            @include mixin.mq(sm){
                top:50%;
            }
        }
        &__nav__list{
            display: flex;
            flex-direction:column;
        }
        &__nav__item{
            opacity:0;
            text-align: center;
            &:nth-child(1){
                transition: all 0.5s ease 0.4s;
            }
            &:nth-child(2){
                transition: all 0.5s ease 0.6s;
            }
            &:nth-child(3){
                transition: all 0.5s ease 0.8s;
            }
            &:nth-child(4){
                transition: all 0.5s ease 1s;
            }
            &.is-active{
                opacity: 1;
            }
            a{
                color:variable.$text-white;
                font-size:48px;
                font-family:variable.$font-en;
                padding:20px 0;
            }
        }
    }
}