@use "../../Foundation/variable.scss" as variable;
@use "../../Foundation/mixin.scss" as mixin;

.c-morebtn{
    display:flex;
    justify-content: flex-end;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap:16px;
        margin-top:56px;
        cursor: pointer;
        width:fit-content;
        @include mixin.mq(md){
            margin-top:48px;
        }
        &:hover{
            .c-morebtn__circle{
                background-color:variable.$text-black;
                color:variable.$text-white;
            }
            .c-morebtn__txt{
                &::after{
                    transform: scale(1, 1);
                    transform-origin: left top;
                }
            }
        }
    }
    &__txt{
        font-weight:500;
        font-family:variable.$font-en;
        font-size:18px;
        position: relative;
        &::after{
            position: absolute;
            left: 0;
            content: '';
            width: 100%;
            height: 1px;
            background: variable.$text-black;
            bottom: -5px;
            transform: scale(0, 1);
            transform-origin: right top;
            transition: transform 0.3s;
        }
        &:hover{
            &::after{
                transform: scale(1, 1);
                transform-origin: left top;
            }
        }
    }
    &__circle{
        display: flex;
        place-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position:relative;
        transition: 0.3s;
        &::after{
            content:">";
            display: block;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
        svg{
            transform: rotate(90deg);
        }
    }
}