@use "../../Foundation/variable.scss" as variable;
@use "../../Foundation/mixin.scss" as mixin;

.c-section{
    width:100%;
    &__inner{
        padding:100px 0;
        max-width:1000px;
        margin:0  auto;
        @include mixin.mq(lg){
            padding:100px 16px;
        }
    }
    &__ttl{
        font-size:64px;
        font-weight:500;
        font-family:variable.$font-en;
        margin-bottom:64px;
        @include mixin.mq(lg){
            font-size:56px;
        }
        span{
            font-weight:normal;
            display: block;
            font-size:16px;
            font-family:variable.$font-jp;
            margin-bottom:16px;
            // &::before{
            //     font-family: 'Material Icons Outlined';
            //     content: '\f720';
            //     display: block;
            //     color:#333;
            // }
        }
    }
}