@use "../../Foundation/variable.scss" as variable;
@use "../../Foundation/mixin.scss" as mixin;

.c-section{
    width:100%;
    &__inner{
        padding:100px 0;
        max-width:1000px;
        margin:0  auto;
        @include mixin.mq(lg){
            padding:100px 20px;
        }
    }
    &__ttl__wrap{
        margin-bottom:64px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        @include mixin.mq(lg){
            margin-bottom:56px;
        }
        @include mixin.mq(md){
            margin-bottom:48px;
        }
        .js-split-effect{
            span{
                display: inline-block;
                opacity: 0;
                visibility: visible;
                transform: rotateY(90deg);
            }
        }
    }
    &__ttl{
        font-size:64px;
        font-weight:500;
        font-family:variable.$font-en;
        @include mixin.mq(md){
            font-size:48px;
        }
        &--sub{
            font-weight:normal;
            display: block;
            font-size:16px;
            font-family:variable.$font-jp;
            margin-bottom:10px;
            @include mixin.mq(md){
                font-size:14px;
            }
        }
    }
    &__ttl--works{
        h2{
            span:first-child{
                letter-spacing:-6px;
            }
        }
    }
}