@use "../Foundation/variable.scss" as variable;

.l-header{
    width:100%;
    position: fixed;
    &__inner{
        max-width:1200px;
        margin:0 auto;
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding:16px 0;
    }
    &__list{
        display: flex;
        column-gap:32px;
    }
    &__nav{
        display: flex;
        align-items:center;
        color:#333;
        column-gap: 40px;
        font-family:variable.$font-en;
        font-weight: bold;
    }
    &__mail{
        width:60px;
        height:60px;
        border-radius:50%;
        border:solid 1px #333;
        display: flex;
        align-items: center;
        justify-content: center;
        .material-symbols-outlined {
            font-size:28px;
            font-variation-settings:
            'FILL' 0,
            'wght' 200,
            'GRAD' 0,
            'opsz' 24
        }
    }
}