@use "../../Foundation/variable.scss" as variable;
@use "../../Foundation/mixin.scss" as mixin;

.p-about{
    &__kv{
        padding:160px 0 100px 0;
        color:variable.$text-white;
        background-color:variable.$background-black;
        &__top{
            height:80vh;
            margin-bottom:64px;
            position: relative;
        }
        &__img{
            width:330px;
            height:346px;
            @include mixin.mq(lg){
                width:70%;
                height: auto;
            }
            img{
                width:100%;
            }
        }
        &__ttl{
            font-size:64px;
            font-weight:500;
            font-family: variable.$font-en;
            letter-spacing:2.5px;
            text-align: center;
            display: none;
            visibility: hidden;
            @include mixin.mq(md){
                font-size:48px;
            }
            &::before{
                content:"私について";
                display:block;
                font-size:16px;
                letter-spacing: 1px;
                margin-bottom:12px;
                font-family:variable.$font-jp;
                @include mixin.mq(md){
                    font-size:14px;
                }
            }
        }
        &__loop{
            width:100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            bottom:8%;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            @include mixin.mq(sm){
                bottom:20%;
            }
            @media screen and (max-width: 375px) {
                bottom:15%;
            }
            &__inner{
                max-width:initial !important;
                @include mixin.mq(md){
                    padding:64px 0;
                }
            }
            &__loop{
                display: flex;
                margin: 0 calc(50% - 50vw);
                width: 100vw;
                overflow: hidden;
            }
            &__txt{
                font-size:100px;
                -webkit-text-stroke: 2px variable.$text-white;
                color: variable.$background-black;
                font-family:variable.$font-en;
                letter-spacing:3px;
                font-weight: bold;
                width:100%;
                animation: loopAnimation 20s linear infinite;
                @include mixin.mq(md){
                    font-size:48px;
                }
                @keyframes loopAnimation {
                    0% { transform:translateX(0); }
                    100% { transform:translateX(-100%); }
                }
            }
        }
        &__img{
            margin-top:-220px;
            transform: rotate(5deg);
            @include mixin.mq(xl){
                margin-top:-40%;
            }
        }

        &__bottom{
            &__inner{
                max-width:800px;
                margin:0 auto;
                @include mixin.mq(lg){
                    max-width:initial;
                    padding:0 20px;
                }
            }
            &__ttl{
                font-size:18px;
                margin-bottom:24px;
            }
            &__ttl__desc{
                font-size:15px;
                line-height:2;
                font-family: variable.$font-jp;
                margin-bottom:24px;
                @include mixin.mq(md){
                    font-size:14px;
                }
            }
        }
    }
}


.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 800px;
    position: relative;
}
.timeline__content-title {
    font-weight: normal;
    font-size: 90px;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 10px;
    font-family: variable.$font-en;
    box-sizing: border-box;
    color: #fff;
    @include mixin.mq(md){
        font-size:64px;
    }
}
.timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    line-height:27.2px;
    @include mixin.mq(md){
        font-size:14px;
    }
}
.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}
.timeline-item {
    padding: 40px 0;
    opacity: .3;
    filter: blur(2px);
    transition: .5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(0px);
}
.timeline-item:before {
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
    align-self: flex-end;
}
.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}
.timeline-item--active {
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0px);
}
.timeline-item--active:before {
    top: 30%;
    transition: .3s all .2s;
    opacity: 1;
}
.timeline-item--active .timeline__content-title {
    margin: -50px 0 8px 0;
}
@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }
    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }
    .timeline-item:last-child {
        padding-bottom: 40px;
    }
}
.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: .3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
}
.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}
.timeline-header__title {
    color: #fff;
    font-size: 46px;
    margin: 0;
}
.timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
}
.demo-footer {
    padding: 60px 0;
    text-align: center;
}
.demo-footer a {
    color: #999;
    display: inline-block;
}
