@use "../../Foundation/variable.scss" as variable;
@use "../../Foundation/mixin.scss" as mixin;

.p-contact{
    &__inner{
        padding-top:160px !important;
        padding-bottom:160px !important;
        max-width:800px;
    }
    &__ttl{
        font-size:64px;
        font-weight:500;
        font-family: variable.$font-en;
        letter-spacing:2.5px;
        text-align: center;
        margin-bottom:100px;
        display: none;
        visibility: hidden;
        @include mixin.mq(md){
            margin-bottom:48px !important;
            font-size:48px;
        }
        &::before{
            content:"お問い合わせ";
            display:block;
            font-size:16px;
            letter-spacing: 1px;
            margin-bottom:12px;
            font-family:variable.$font-jp;
            @include mixin.mq(md){
                font-size:14px;
            }
        }
    }
    &__ttl__desc{
        line-height:1.8;
    }
}