@use "../../Foundation/variable.scss" as variable;
@use "../../Foundation/mixin.scss" as mixin;

.p-top{
    //loader
    &__loader{
        &__bg{
            /* オープニングアニメーション */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100svh;
            background-color: #000000;
            z-index: 10;
            display: grid;
            place-items: center;
            pointer-events: none;
        }
        &__name{
            color:#fff;
            font-size:24px;
            text-align: center;
            font-family:variable.$font-en;
            letter-spacing:1px;
        }
    }

    //kv
    &__kv{
        width:100%;
        height:100vh;
        font-family:variable.$font-en;
        &__top{
            max-width:800px;
            margin:0 auto;
            padding-top:10.2%;
            @include mixin.mq(xl){
                padding-top:30%;
            }
            @include mixin.mq(lg){
                max-width:600px;
                padding-right:16px;
                padding-left:16px;
            }
            @include mixin.mq(sm){
                padding-top:48%;
            }
        }
        &__ttl{
            font-weight: 100;
            line-height:1.35;
            span{
                font-size:90px;
                display: block;
                @include mixin.mq(xl){
                    font-size:64px;
                    line-height:1.7;
                }
                @include mixin.mq(md){
                    // padding:0 16px;
                    font-size:50px;
                }
                @include mixin.mq(sm){
                    font-size:42px;
                }
            }
            span:nth-of-type(2){
                font-weight: bold;
                font-size:100px;
                @include mixin.mq(xl){
                    font-size:72px;
                }
                @include mixin.mq(sm){
                    font-size:56px;
                }
                @include mixin.mq(sm){
                    font-size:52px;
                }
            }
        }
        &__bottom{
            width:87.84%;
            margin:0 auto;
            justify-content: space-between;
            display: flex;
            align-items:baseline;
            position: absolute;
            bottom:2.92%;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            @include mixin.mq(md){
                width:95%;
            }
        }
        &__period{
            font-size:90px;
            font-weight: 100;
            @include mixin.mq(xl){
                font-size:64px;
            }
            @include mixin.mq(sm){
                font-size:50px;
            }
            span:nth-of-type(2){
                font-family:variable.$font-jp;
                font-weight: 100;
                margin:0 16px;
                vertical-align:0;
                @include mixin.mq(sm){
                        margin:0 8px;
                }
                &::after{
                    content:"-";
                }
            }
        }
        &__scroll{
            width:200px;
            position: relative;
            overflow: hidden;
            @include mixin.mq(xl){
                width:160px;
            }
            @include mixin.mq(sm){
                width:100px;
            }
            img{
                animation:14s linear infinite rotation;
                @keyframes rotation{
                    0%{ transform:rotate(0);}
                    100%{ transform:rotate(360deg); }
                }
            }
            span{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                font-size:36px;
                @include mixin.mq(sm){
                    font-size:24px;
                }
            }
            .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24
            }
        }
    }

    //about
    &__about{
        &__inner{
            max-width:1000px;
            margin:0 auto;
            padding-top:160px !important;
            @include mixin.mq(lg){
                padding-top:120px !important;
            }
            @include mixin.mq(sm){
                padding-top:100px !important;
            }
        }
        &__body{
            display: flex;
            column-gap:64px;
            @include mixin.mq(md){
                flex-direction:column-reverse;
            }
        }
        &__name{
            margin-bottom:28px;
            @include mixin.mq(lg){
                margin-bottom:24px;
            }
        }
        &__desc{
            line-height: 2;
            margin-bottom:28px;
            @include mixin.mq(lg){
                margin-bottom:24px;
            }
        }
        &__img{
            @include mixin.mq(lg){
                margin-bottom:48px;
            }
            img{
                box-shadow: 32px 38px 44px -12px #d1d1d1;
            }
        }
        &__snslist{
            display:flex;
            column-gap:16px;
        }
        &__snslist__item{
            width:28px;
            a{
                display:block;
            }
        }
    }

    //skill
    &__skill{
        background-color:variable.$background-black;
        color:variable.$text-white;
        &__content{
            max-width:640px;
            margin: 0 0 0 auto;
        }
        &__list{
            display: flex;
            flex-direction: column;
            row-gap:64px;
        }
        &__item{

        }
        &__item__ttl{
            font-size: 48px;
            font-weight: 300;
            font-family:variable.$font-en;
            border-bottom:solid 1px variable.$base-gray;
            padding-bottom: 24px;
            margin-bottom:32px;
            letter-spacing:2px;
            @include mixin.mq(lg){
                font-size:40px;
                padding-bottom:28px;
                margin-bottom:28px;
            }
            span{
                display: block;
                font-size:20px;
                font-weight: normal;
                margin-bottom:12px;
                position: relative;
                &::before{
                    content:"";
                    display: inline-flex;
                    vertical-align: 5.5px;
                    width:12px;
                    height:1px;
                    background-color: variable.$text-white;
                    margin-right:12px;
                }
            }
        }
        &__item__txt{
            line-height:2;
            font-size:16px;
            font-weight:300;
            margin-bottom:16px;
            color:variable.$text-darkwhite;
        }
        &__item__tools{
            color:#C1C1C1;
            margin-bottom:4px;
            padding-left: 4em;
            text-indent: -4em;
            line-height:1.8;
            font-size:14px;
            &:last-child{
                margin-bottom:0;
            }
        }
    }

    //works
    &__works{
        &__list{
            display: flex;
            gap:40px;
            @include mixin.mq(md){
                flex-direction:column;
            }
        }
        &__item{

        }
        &__item__img{
            margin-bottom: 24px;
            @include mixin.mq(md){
                margin-bottom:16px;
            }
        }
        &__item__category{
            margin-bottom:12px;
            font-size:12px;
            color:#828282;
            @include mixin.mq(md){
                margin-bottom:8px;
            }
        }
        &__item__ttl{
            line-height:2;
        }
    }

    //nameloop
    &__loop{
        width:100vw;
        &__inner{
            max-width:initial !important;
            padding:160px 0;
            @include mixin.mq(md){
                padding:64px 0;
            }
        }
        &__loop{
            display: flex;
            margin: 0 calc(50% - 50vw);
            width: 100vw;
            overflow: hidden;
        }
        &__txt{
            font-size:100px;
            -webkit-text-stroke: 2px variable.$text-black;
            color: variable.$text-white;
            font-family:variable.$font-en;
            letter-spacing:3px;
            font-weight: bold;
            width:100%;
            animation: loopAnimation 20s linear infinite;
            @include mixin.mq(md){
                font-size:48px;
            }
            @keyframes loopAnimation {
                0% { transform:translateX(0); }
                100% { transform:translateX(-100%); }
            }
        }
    }

    //interest
    &__interest{
        &__inner{
            padding-bottom:160px !important;
        }
        &__content{
            @include mixin.mq(md){
                margin: 0 calc(50% - 50vw);
                width: 100vw;
            }
        }
        &__top{
            margin: 0 calc(50% - 50vw);
            width: 100vw;
            margin-bottom:8%;
            .p-top__interest__list{
                align-items: center;
                @include mixin.mq(md){
                    row-gap:20px;
                    align-items:initial;
                }
            }
            .p-top__interest__item{
                aspect-ratio:1 / 1;
                @include mixin.mq(md){
                    margin:0 !important;
                }
                @include mixin.mq(md){
                    width:60%;
                }
                &:first-child{
                    margin-right:9.5%;
                    width:300px;
                    height:auto;
                }
                &:nth-of-type(2){
                    margin-right:20.5%;
                    width:165px;
                    height:auto;
                }
                &:nth-of-type(3){
                    width:230px;
                    height:auto;
                }
            }
            .p-top__interest__item:nth-child(even){
                @include mixin.mq(md){
                   margin-left:auto !important;
                }
            }
        }
        &__bottom{
            margin: 0 calc(50% - 50vw);
            width: 100vw;
            @include mixin.mq(md){
                width:auto;
                margin: auto;
            }
            .p-top__interest__list{
                @include mixin.mq(md){
                    row-gap:20px;
                }
            }
            .p-top__interest__item{
                @include mixin.mq(md){
                    width:auto;
                    height:auto;
                }
                &:first-child{
                    margin-right:14.7%;
                    margin-top:2.8%;
                    width:160px;
                    height:auto;
                }
                &:nth-of-type(2){
                    margin-right:6.73%;
                    margin-top:12.9%;
                    width:180px;
                    height:auto;
                }
                &:nth-of-type(3){
                    margin-right:19.4%;
                    width:300px;
                    height:auto;
                }
                &:last-child{
                    margin-top:2.8%;
                    width:166px;
                    height:auto;
                }
            }
            .p-top__interest__item:nth-child(odd){
                @include mixin.mq(md){
                   margin-left:auto !important;
                }
            }
        }
        &__list{
            display: flex;
            justify-content: center;
            @include mixin.mq(md){
                flex-direction:column;
            }
        }
        &__item{
            @include mixin.mq(md){
                margin:0 !important;
                width:300px;
            }
            @include mixin.mq(sm){
                width:70%;
            }
        }
    }
}