@use "../../Foundation/variable.scss" as variable;
@use "../../Foundation/mixin.scss" as mixin;

.p-top{
    //loader
    &__loader{
        &__bg{
            /* オープニングアニメーション */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100svh;
            background-color: #000000;
            z-index: 10;
            display: grid;
            place-items: center;
            pointer-events: none;
        }
        &__name{
            color:#fff;
            font-size:24px;
            text-align: center;
            font-family:variable.$font-en;
            letter-spacing:1px;
        }
    }

    //kv
    &__kv{
        width:100%;
        height:100dvh;
        font-family:variable.$font-en;
        position: relative;
        &__ttl{
            font-weight: 100;
            line-height:1.5;
            visibility: hidden;
            width: 80%;
            margin: 0 auto;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            height:100%;
            @media screen and (max-width: 1500px) {
                width:75%;
            }
            @media screen and (max-width: 1400px) {
                width:80%;
            }
            @include mixin.mq(xl){
                width:87%;
            }
            @include mixin.mq(lg){
                width:93%;
            }
            @media screen and (max-width: 900px) {
                width:fit-content;
                padding-top:80px;
                margin-bottom:32px;
                height:auto;
            }
            @include mixin.mq(md){
                padding-top:90px;
            }
            @include mixin.mq(sm){
                height:23dvh;
            }
            span{
                font-size:6.5vw;
                display: block;
                font-weight: bold;
                letter-spacing:3px;
                @media screen and (max-width: 1500px) {
                    font-size:80px;
                }
                @include mixin.mq(xl){
                    font-size:72px;
                    line-height:1.6;
                }
                @include mixin.mq(lg){
                    font-size:64px;
                    line-height:1.5;
                }
                @media screen and (max-width: 900px) {
                    font-size:50px;
                    letter-spacing:1px;
                    line-height:1.3;
                }
                @include mixin.mq(sm){
                    font-size:9.3vw;
                }
            }
            span:last-child{
                @media screen and (max-width: 900px) {
                    text-align: center;
                }
            }
        }
        &__ttl__head{
            display: block;
            @media screen and (max-width: 900px) {
                display:flex;
                justify-content: center;
            }
        }
        &__period{
            font-size:80px;
            font-weight: 100;
            pointer-events: none;
            display: flex;
            position: absolute;
            left:6.07%;
            bottom:3%;
            @media screen and (max-width: 1500px) {
                left:83px;
            }
            @media screen and (max-width: 1400px) {
                left:48px;
                font-size:64px;
            }
            @include mixin.mq(lg){
                font-size:50px;
                bottom:14%;
                left:16px;
            }
            @media screen and (max-width: 900px) {
                position: initial;
                padding-left:16px;
            }
            @include mixin.mq(sm){
                font-size:40px;
                padding-left:8px;
            }
            span{
                color:#808080;
                a{
                    border-bottom:none;
                    text-decoration: none;
                    display: block;
                }
            }
            span:nth-of-type(2){
                font-family:variable.$font-jp;
                font-weight: 100;
                margin:0 16px;
                vertical-align:0;
                @include mixin.mq(sm){
                        margin:0 8px;
                }
                &::after{
                    content:"-";
                }
            }
        }
        &__img{
            width:45vw;
            height:100dvh;
            padding-top:92px;
            position: absolute;
            right:0;
            bottom:0;
            @include mixin.mq(lg){
                width:50vw;
            }
            @media screen and (max-width: 900px) {
                position:initial;
                width:70vw;
                height:fit-content;
                margin:0 auto;
                padding-top:0;
                margin-bottom:24px;
            }
            @include mixin.mq(md){
                width:100%;
                padding:0 16px;
                margin-bottom:24px;
            }
            @include mixin.mq(sm){
                width:80%;
                padding:0;
                margin-bottom:16px;
            }
            img{
                max-width:100%;
                width:100%;
                height:100%;
                object-fit: cover;
                @media screen and (max-width: 900px) {
                    object-fit:contain;
                    height:64dvh;
                }
                @include mixin.mq(sm){
                    object-fit:cover;
                    height:63dvh;
                }
            }
        }
        &__scroll{
            width:230px;
            position: relative;
            position: absolute;
            bottom: -120px;
            left: 53%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            @media screen and (max-width: 1400px) {
                width:200px;
                bottom: -110px;
                left: 53%;
            }
            @include mixin.mq(lg){
                bottom: -83px;
                left: 47%;
                width: 180px;
            }
            @media screen and (max-width: 900px) {
                left:initial;
                right: -200px;
                bottom: 0%;
                width:230px;
            }
            @include mixin.mq(md){
                width:200px;
            }
            @include mixin.mq(sm){
                width:180px;
                right:-186px;
            }
            img{
                animation:14s linear infinite rotation;
                @keyframes rotation{
                    0%{ transform:rotate(0);}
                    100%{ transform:rotate(360deg); }
                }
            }
            span{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                font-size:50px;
                @media screen and (max-width: 1400px) {
                    font-size:40px;
                }
                @include mixin.mq(sm){
                    font-size:24px;
                }
            }
            .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24
            }
        }
    }

    //about
    &__about{
        &__inner{
            max-width:1000px;
            margin:0 auto;
            padding-top:200px !important;
            @include mixin.mq(lg){
                padding-top:120px !important;
            }
            @include mixin.mq(sm){
                padding-top:100px !important;
            }
        }
        &__body{
            display: flex;
            column-gap:64px;
            @include mixin.mq(md){
                flex-direction:column-reverse;
            }
        }
        &__name{
            margin-bottom:28px;
            @include mixin.mq(lg){
                margin-bottom:24px;
            }
        }
        &__desc{
            line-height: 2;
            margin-bottom:28px;
            @include mixin.mq(lg){
                margin-bottom:24px;
            }
        }
        &__img{
            @include mixin.mq(lg){
                margin-bottom:48px;
            }
            @include mixin.mq(md){
                margin-bottom:40px;
            }
            img{
                box-shadow: 32px 38px 44px -12px #d1d1d1;
            }
        }
    }

    //skill
    &__skill{
        background-color:variable.$background-black;
        color:variable.$text-white;
        &__content{
            max-width:640px;
            margin: 0 0 0 auto;
        }
        &__list{
            display: flex;
            flex-direction: column;
            row-gap:64px;
            @include mixin.mq(md){
                row-gap:48px;
            }
        }
        &__item{

        }
        &__item__ttl{
            font-size: 48px;
            font-weight: 300;
            font-family:variable.$font-en;
            visibility: hidden;
            padding-bottom: 24px;
            margin-bottom:32px;
            letter-spacing:2px;
            position: relative;
            @include mixin.mq(lg){
                font-size:40px;
                padding-bottom:28px;
                margin-bottom:28px;
            }
            @include mixin.mq(md){
                font-size: 38px;
                margin-bottom: 20px;
                padding-bottom: 20px;
            }
            &::after{
                content:"";
                width:100%;
                height:1px;
                background-color: variable.$base-gray;
                position: absolute;
                bottom:0;
                left:0;
                transform: scale(0,1);
                transition: 1.6s;
                transform-origin: left top;
            }
            &.is-active{
                &::after{
                    transform: scale(1,1);
                }
            }
            span{
                display: block;
                font-size:20px;
                font-weight: normal;
                margin-bottom:12px;
                position: relative;
                @include mixin.mq(md){
                    font-size:18px;
                }
                &::before{
                    content:"";
                    display: inline-flex;
                    vertical-align: 5.5px;
                    width:12px;
                    height:1px;
                    background-color: variable.$text-white;
                    margin-right:12px;
                }
            }
        }
        &__item__txt{
            line-height:2;
            font-size:16px;
            font-weight:300;
            margin-bottom:16px;
            color:variable.$text-darkwhite;
            visibility: hidden;
        }
        &__item__tools{
            color:#C1C1C1;
            margin-bottom:4px;
            padding-left: 4em;
            text-indent: -4em;
            line-height:1.8;
            font-size:14px;
            &:last-child{
                margin-bottom:0;
            }
        }
    }

    //nameloop
    &__loop{
        width:100vw;
        &__inner{
            max-width:initial !important;
            padding:160px 0;
            @include mixin.mq(md){
                padding:48px 0;
            }
        }
        &__loop{
            display: flex;
            margin: 0 calc(50% - 50vw);
            width: 100vw;
            overflow: hidden;
        }
        &__txt{
            font-size:100px;
            -webkit-text-stroke: 2px variable.$text-black;
            color: variable.$text-white;
            font-family:variable.$font-en;
            letter-spacing:3px;
            font-weight: bold;
            width:100%;
            animation: loopAnimation 20s linear infinite;
            @include mixin.mq(md){
                font-size:48px;
            }
            @keyframes loopAnimation {
                0% { transform:translateX(0); }
                100% { transform:translateX(-100%); }
            }
        }
    }

    //interest
    &__interest{
        overflow: hidden;
        &__inner{
            padding-bottom:160px;
        }
        &__content{
            @include mixin.mq(md){
                margin: 0 calc(50% - 50vw);
                width: 100vw;
            }
        }
        &__top{
            margin: 0 calc(50% - 50vw);
            width: 100vw;
            margin-bottom:8%;
            .p-top__interest__list{
                align-items: center;
                @include mixin.mq(md){
                    row-gap:20px;
                    align-items:initial;
                }
            }
            .p-top__interest__item{
                aspect-ratio:1 / 1;
                @include mixin.mq(md){
                    margin:0 !important;
                }
                @include mixin.mq(md){
                    width:60%;
                }
                &:first-child{
                    margin-right:9.5%;
                    width:300px;
                    height:auto;
                }
                &:nth-of-type(2){
                    margin-right:20.5%;
                    width:165px;
                    height:auto;
                }
                &:nth-of-type(3){
                    width:230px;
                    height:auto;
                }
            }
            .p-top__interest__item:nth-child(even){
                @include mixin.mq(md){
                   margin-left:auto !important;
                }
            }
        }
        &__bottom{
            margin: 0 calc(50% - 50vw);
            width: 100vw;
            @include mixin.mq(md){
                width:auto;
                margin: auto;
            }
            .p-top__interest__list{
                @include mixin.mq(md){
                    row-gap:20px;
                }
            }
            .p-top__interest__item{
                @include mixin.mq(md){
                    width:auto;
                    height:auto;
                }
                &:first-child{
                    margin-right:14.7%;
                    margin-top:2.8%;
                    width:160px;
                    height:auto;
                }
                &:nth-of-type(2){
                    margin-right:6.73%;
                    margin-top:12.9%;
                    width:180px;
                    height:auto;
                }
                &:nth-of-type(3){
                    margin-right:19.4%;
                    width:300px;
                    height:auto;
                }
                &:last-child{
                    margin-top:2.8%;
                    width:166px;
                    height:auto;
                }
            }
            .p-top__interest__item:nth-child(odd){
                @include mixin.mq(md){
                   margin-left:auto !important;
                }
            }
        }
        &__list{
            display: flex;
            justify-content: center;
            @include mixin.mq(md){
                flex-direction:column;
            }
        }
        &__item{
            visibility: hidden;
            @include mixin.mq(md){
                margin:0 !important;
                width:300px;
                visibility: visible;
            }
            @include mixin.mq(sm){
                width:70%;
            }
        }
    }
}