@use "../../Foundation/variable.scss" as variable;
@use "../../Foundation/mixin.scss" as mixin;

.p-works{
    padding:160px 0;
    &__inner{
        max-width:1000px;
        margin:0 auto;
        padding-top:0;
        @include mixin.mq(lg){
            padding:0 20px !important;
        }
    }
    &__ttl{
        font-size:64px;
        font-weight:500;
        font-family: variable.$font-en;
        letter-spacing:2.5px;
        text-align: center;
        margin-bottom:100px;
        display: none;
        visibility: hidden;
        @include mixin.mq(md){
            font-size:48px;
        }
        &::before{
            content:"制作実績";
            display:block;
            font-size:16px;
            letter-spacing: 1px;
            margin-bottom:12px;
            font-family:variable.$font-jp;
            @include mixin.mq(md){
                font-size:14px;
            }
        }
    }
    &__ttl:has(+ .p-works__detail){
        @include mixin.mq(md){
            font-size:48px;
            margin-bottom:64px;
        }
    }

    &__detail{
        margin-bottom:80px;
        font-size:15px;
        @include mixin.mq(md){
            margin-bottom:64px;
            font-size:14px;
        }
        &__ttl{
            font-size:52px;
            border-bottom: solid 1px #333;
            padding:0 24px;
            padding-bottom:28px;
            margin-bottom:40px;
            line-height:1.6;
            @include mixin.mq(lg){
                font-size:48px;
            }
            @include mixin.mq(md){
                font-size:6.25vw;
                margin-bottom: 32px;
                padding: 0 12px;
                padding-bottom: 24px;
            }
            @include mixin.mq(sm){
                font-size:32px;
                padding:0 8px 16px 8px;
                margin-bottom:28px;
            }
        }
        &__img{
            border:solid 1px #e3e3e3;
            margin-bottom:40px;
            @include mixin.mq(md){
                margin-bottom: 32px;
            }
        }
        &__desc{
            line-height:2;
            margin-bottom:40px;
            padding:0 16px;
            @include mixin.mq(lg){
                padding:0 8px;
            }
            @include mixin.mq(md){
                margin-bottom: 32px;
                font-size:15px !important;
            }
        }
        &__list{
            padding:0 16px;
            @include mixin.mq(lg){
                padding:0 8px;
            }
        }
        &__list__item{
            display: flex;
            margin-bottom:20px;
            line-height:1.6;
            dt{
                font-weight:normal;
                font-weight: bold;
                min-width:max-content;
            }
            dd{
                line-height: 1.8;
            }
        }
        &__list__item__url{
            text-decoration: underline;
        }
    }

    &__visit__button{
        width:100%;
        position: fixed;
        bottom:0;
        z-index:15;
        &.is-hidden{
            display: none;
        }
        a{
            background-color:rgba(51, 51, 51, 1);
            color:#FFF;
            width:100%;
            text-align: center;
            padding:24px 0;
            transition: 0.4s ease-out;
            &:hover{
                background-color:rgba(71, 71, 71, 1);
            }
        }
    }
}